.trending-carousel {
  display: flex;
  overflow-x: auto;
  overflow-y: visible;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding-bottom: 3rem;
}

.trending-carousel::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}

.trending-card {
  position: relative;
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;

  transition: transform 220ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 220ms cubic-bezier(0.4, 0, 0.2, 1);

  transform-origin: center;
  will-change: transform;
}

.trending-card:hover {
  transform: scale(1.08) translateY(-6px);
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.6);
  z-index: 20;
}

.trending-img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.trending-index {
  position: absolute;
  bottom: -1rem;
  left: 0;
  z-index: 200;
  font-size: 6em;
  font-weight: bold;
  color: #000000;
  -webkit-text-stroke: 3px #ffffff;
}
.trending-card:hover .trending-img {
  border-radius: 8px;
  transform: scale(1.04);
  transition: transform 220ms ease-out;
}
