.trending-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding-bottom: 1rem;
}

.trending-carousel::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}

.trending-card {
  position: relative;
  flex: 0 0 auto;
  scroll-snap-align: start;
  min-width: 200px;
  border-radius: 8px;
  overflow: hidden;
}

.trending-img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.trending-index {
  position: absolute;
  bottom: -1rem;
  left: 1rem;
  z-index: 200;
  font-size: 10rem;
  font-weight: bold;
  color: #000000;
  -webkit-text-stroke: 3px #ffffff;
}